.MainForm {
  display: flex;
  justify-content: center;
}

.MainForm a {
  text-decoration: none;
  padding: 5px;
}

.MainForm a:hover {
  color: #fa923f;
}

.notes-container {
  flex-grow: 1;
  margin: auto;
  text-align: center;
  width: 80%;
  height: 100%;
  box-shadow: 0 2px 3px #ccc;
  border: 1px solid #eee;
  padding: 10px 30px;
  box-sizing: border-box;
  background-color: #fff;
  color: #282c34
}


@media (min-width: 600px) {
  .notes-container {
      /* width: 550px; */
  }
}